<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myService1" class="info.novatec.xml.service.MyService1Impl">
		<constructor-arg name="myService2" ref="myService2"/>
	</bean>
	
	<bean id="myService2" class="info.novatec.xml.service.MyService2Impl"/>
	
	
</beans>
